@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  font-family: 'Montserrat', sans-serif;
  &:focus,
  &:active{
    outline: none;
  }
  &::before,
  &::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
}
body{
	height: 100dvh;
	overflow: hidden;
}