.main{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 15px;
  height: 100dvh;
}
.title{
  text-align: center;
  letter-spacing: 5px;
}
.p{
  text-align: center;
}